@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #242323;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.word-container {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 3rem;
    height: 1em;
}

.highlighted-letter {
    position: absolute;
    color: #4aff46;
    transform: translateX(-50%);
    border-width: 1px;
    border-color: #888;
    border-radius: 2px;
    height: 1em;
    width: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-half,
.right-half {
    position: absolute;
    overflow: hidden; /* Hide overflow of halves */
    white-space: nowrap; /* Ensure the halves don't wrap */
}

.left-half {
    right: 100%; /* Position the left half relative to the highlighted letter */
    margin-right: 0.25em;

}

.right-half {
    left: 100%; /* Position the right half relative to the highlighted letter */
    margin-left: 0.25em;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Rating CSS Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */